# Intermediate compile files
*.o
*.d
*.so
*.a
*.lo
*.la
*.lai
*.mod
*.mod.c
*.sym
*.gcno
*.gcda
*.gcov
*.i
*.s
*.lo
*.la
*.lai
*.po
*.pot
*.mo
*.moc
*.moc.cpp
*.moc.h
_moc_*.cpp
_moc_*.h
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
Makefile
makefile
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
_CPack_Packages/
*.build/
*.pbxuser
*.mode1v3
*.mode2v3
*.moved-aside
*.xcscmblueprint
*.xccheckout
*.xcscheme
*.xcuserstate
*.xcsettings
*.dot
*.log
*.tlog
*.pdb
*.ilk
*.obj
*.lib
*.exp
*.res
*.pch
*.idb
*.sbr
*.bsc
*.manifest
*.tds
*.map
*.aps
*.ncb
*.suo
*.user
*.userosscache
*.sln.docstates
*.ipr
*.iws
*.class
*.pyc
*.swp
*.bak
*.orig
*.rej
*~
.#*
.#*#

/inference/build*